.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 25px;
    width: 200px;
}
.navOptions>ul{
    display: flex;
    padding: 5px;
    list-style-type: none;
}
.navOptions>ul>li{
    padding: 10px;
}
.search{
    padding: 25px;
}
.resContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.resCard{
    margin: 25px;
    padding: 5px;
    width: 200px;
    background-color: rgb(242, 227, 255);
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resImg{
    width: 100%;
    height: 8rem;
    overflow-y: hidden;
    object-fit: cover;
    object-position: center;
}
.resCard:hover{
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(231, 209, 250);
}
/* .body{
    justify-content: center;
} */
.filterContainer{
    display: flex;
    padding: 10px;
}
.search{
    margin-left: 85px;
}
.searchBtn{
    margin-left: 5px;
}
.filter{
    margin-left: 35px;
    align-self: center;
}

.allCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardStruct{
    margin: 25px;
    padding: 5px;
    width: 200px;
    height: 300px;
    background-color: rgb(242, 227, 255);
}

.loginBtn{
    margin-left: 10px;
    width: 60px;
    height: 40px;
}